<div class="posts">

  <h1 class="content-subhead">Recent Posts</h1>

  <% @posts.each do |post| %>

      <section class="post">

        <header class="post-header">
          <h2 class="post-title"><%= link_to post.title, post %></h2>
          <p class="post-meta">
            <%= post.released_date.strftime('%d %b, %Y') %> by
            <a class="post-author" href="#"><%= post.author_name %></a>
          </p>
        </header>

        <div class="post-description">
          <p><%= post.content %></p>
        </div>

      </section>

  <% end %>

</div>

