<div class="footer">
  <div class="pure-menu pure-menu-horizontal pure-menu-open">
    <ul>
      <li><a href="http://osiutino.wordpress.com">About</a></li>
      <li><a href="http://twitter.com/osiutino">Twitter</a></li>
      <li><a href="http://github.com/siutin">GitHub</a></li>
    </ul>
  </div>
</div>